body {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  overflow: hidden;
  background-color: #9b59b6; }

.wide {
  width: 9000px; }

.panel {
  padding-top: 50px;
  float: left;
  display: none; }

#home {
  background-color: #9b59b6;
  text-align: center; }
  #home .name {
    font-size: 2em;
    margin-top: 0.5em; }
    @media screen and (min-width: 768px) {
      #home .name {
        font-size: 4em; } }
  #home .desc {
    margin: .1em .2em;
    font-size: 1.8em; }
  #home #direction-question {
    display: none; }
  #home a {
    color: inherit; }
  #home #hi {
    display: none; }
  #home img {
    float: left;
    height: 6em;
    border-radius: 99px;
    margin-left: 1.3em;
    margin-right: .2em; }
  #home .move-choice {
    color: white;
    border-radius: 99px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  #home .move-choice:hover {
    text-shadow: .1em .1em green;
    padding: 10px;
    border-radius: 0px; }

#about {
  background-color: #3498db; }

#projects {
  background-color: #e67e22; }

#contact {
  background-color: #e74c3c; }

#chosen {
  color: white;
  border-radius: 15px;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 3px 5px;
  -webkit-transition: border-radius 0.3s ease;
  -moz-transition: border-radius 0.3s ease;
  -ms-transition: border-radius 0.3s ease;
  -o-transition: border-radius 0.3s ease;
  transition: border-radius 0.3s ease;
  -webkit-transition: border 0.3s ease;
  -moz-transition: border 0.3s ease;
  -ms-transition: border 0.3s ease;
  -o-transition: border 0.3s ease;
  transition: border 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }

#unchosen {
  padding: 4px 6px;
  -webkit-transition: text-shadow 0.3s ease;
  -moz-transition: text-shadow 0.3s ease;
  -ms-transition: text-shadow 0.3s ease;
  -o-transition: text-shadow 0.3s ease;
  transition: text-shadow 0.3s ease; }

#unchosen:hover {
  text-shadow: .12em .12em green; }

#horizontal, #vertical, .choice {
  cursor: pointer; }

.current {
  text-shadow: .1em .1em black; }

ul {
  position: fixed;
  text-align: center;
  padding: 0; }
  ul .fixed-info {
    background-color: #9b59b6; }
  ul a {
    font-weight: 600;
    text-decoration: none;
    font-size: 1.4em; }
  ul#scrolling-direction {
    display: none;
    margin-top: 0.3em;
    z-index: 1000;
    font-weight: bold; }
    @media screen and (min-width: 768px) {
      ul#scrolling-direction {
        display: block; } }
  ul#scrolling-direction li {
    display: inline-block;
    margin-left: 4px;
    cursor: pointer; }
  ul#contact-info {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    top: 0; }
    ul#contact-info li {
      display: inline;
      margin-left: 10px; }
      ul#contact-info li a {
        color: black;
        font-size: 45px;
        margin: 0; }
        ul#contact-info li a[href^="mailto:"] {
          color: black; }
        ul#contact-info li a:visited {
          color: inherit; }
      ul#contact-info li:first-child {
        margin-left: 0px; }
  ul#banner {
    bottom: 0;
    width: 100%;
    margin-bottom: 0; }
    ul#banner li {
      height: 100%;
      float: left;
      width: 25%;
      display: inline;
      padding: 0; }
      ul#banner li:nth-child(1) {
        background-color: #9b59b6; }
      ul#banner li:nth-child(2) {
        background-color: #3498db; }
      ul#banner li:nth-child(3) {
        background-color: #e67e22; }
      ul#banner li:nth-child(4) {
        background-color: #e74c3c; }
      ul#banner li a {
        padding-bottom: 25px;
        display: block;
        color: white;
        -webkit-transition: text-shadow 0.3s ease;
        -moz-transition: text-shadow 0.3s ease;
        -ms-transition: text-shadow 0.3s ease;
        -o-transition: text-shadow 0.3s ease;
        transition: text-shadow 0.3s ease; }
        ul#banner li a:focus {
          outline: 0; }

/* rondo font files */
@font-face {
  font-family: 'rondo';
  src: url("../fonts/rondo/rondo.eot?#") format("eot"), url("../fonts/rondo/rondo.svg#rondo") format("svg"), url("../fonts/rondo/rondo.woff") format("woff"), url("../fonts/rondo/rondo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'rondo';
  font-style: normal;
  speak: none;
  /* Enable Ligatures */
  -webkit-font-feature-settings: "liga","dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga","dlig";
  -ms-font-feature-settings: "liga","dlig";
  -o-font-feature-settings: "liga","dlig";
  font-feature-settings: "liga","dlig";
  text-rendering: optimizeLegibility; }

/* Icons */
.icon-youtube:before {
  content: "\79\6f\75\74\75\62\65"; }

.icon-yahoo:before {
  content: "\79\61\68\6f\6f"; }

.icon-xing:before {
  content: "\78\69\6e\67"; }

.icon-wordpress:before {
  content: "\77\6f\72\64\70\72\65\73\73"; }

.icon-windows:before {
  content: "\77\69\6e\64\6f\77\73"; }

.icon-vimeo:before {
  content: "\76\69\6d\65\6f"; }

.icon-twitter:before {
  content: "\74\77\69\74\74\65\72"; }

.icon-tumblr:before {
  content: "\74\75\6d\62\6c\72"; }

.icon-stumbleupon:before {
  content: "\73\74\75\6d\62\6c\65\75\70\6f\6e"; }

.icon-stackoverflow:before {
  content: "\73\74\61\63\6b\6f\76\65\72\66\6c\6f\77"; }

.icon-soundcloud:before {
  content: "\73\6f\75\6e\64\63\6c\6f\75\64"; }

.icon-skype:before {
  content: "\73\6b\79\70\65"; }

.icon-sharethis:before {
  content: "\73\68\61\72\65\74\68\69\73"; }

.icon-rss:before {
  content: "\72\73\73"; }

.icon-reddit:before {
  content: "\72\65\64\64\69\74"; }

.icon-posterious:before {
  content: "\70\6f\73\74\65\72\69\6f\75\73"; }

.icon-pinterest:before {
  content: "\70\69\6e\74\65\72\65\73\74"; }

.icon-picasa:before {
  content: "\70\69\63\61\73\61"; }

.icon-myspace:before {
  content: "\6d\79\73\70\61\63\65"; }

.icon-linkedin:before {
  content: "\6c\69\6e\6b\65\64\69\6e"; }

.icon-lastfm:before {
  content: "\6c\61\73\74\66\6d"; }

.icon-instagram:before {
  content: "\69\6e\73\74\61\67\72\61\6d"; }

.icon-googleplus:before {
  content: "\67\6f\6f\67\6c\65\70\6c\75\73"; }

.icon-github:before {
  content: "\67\69\74\68\75\62"; }

.icon-forrst:before {
  content: "\66\6f\72\72\73\74"; }

.icon-flickr:before {
  content: "\66\6c\69\63\6b\72"; }

.icon-facebook:before {
  content: "\66\61\63\65\62\6f\6f\6b"; }

.icon-email:before {
  content: "\65\6d\61\69\6c"; }

.icon-dribbble:before {
  content: "\64\72\69\62\62\62\6c\65"; }

.icon-deviantart:before {
  content: "\64\65\76\69\61\6e\74\61\72\74"; }

.icon-delicious:before {
  content: "\64\65\6c\69\63\69\6f\75\73"; }

.icon-creattica:before {
  content: "\63\72\65\61\74\74\69\63\61"; }

.icon-coroflot:before {
  content: "\63\6f\72\6f\66\6c\6f\74"; }

.icon-cargo:before {
  content: "\63\61\72\67\6f"; }

.icon-blogger:before {
  content: "\62\6c\6f\67\67\65\72"; }

.icon-behance:before {
  content: "\62\65\68\61\6e\63\65"; }

.icon-apple:before {
  content: "\61\70\70\6c\65"; }

.icon-android:before {
  content: "\61\6e\64\72\6f\69\64"; }

.icon-amazon:before {
  content: "\61\6d\61\7a\6f\6e"; }

.icon-px:before {
  content: "\66\69\76\65\68\75\6e\64\72\65\64"; }

.icon-twitter {
  color: #00E; }
  .icon-twitter:before {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 150px;
    font-weight: lighter; }
  .icon-twitter:hover:before {
    background-color: #55acee;
    color: #f5f8fa; }

.icon-facebook {
  color: #00E; }
  .icon-facebook:before {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 150px;
    font-weight: lighter; }
  .icon-facebook:hover:before {
    background-color: #4c66a4;
    color: white; }

.icon-github {
  color: #00E; }
  .icon-github:before {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 150px;
    font-weight: lighter; }
  .icon-github:hover:before {
    background-color: #171515;
    color: #f3f3f3; }

.icon-linkedin {
  color: #00E; }
  .icon-linkedin:before {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 150px;
    font-weight: lighter; }
  .icon-linkedin:hover:before {
    background-color: #0e76a8;
    color: white; }

.icon-email {
  color: #00E; }
  .icon-email:before {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 150px;
    font-weight: lighter; }
  .icon-email:hover:before {
    background-color: #dd1812;
    color: white; }

/* EOF */
