$tiles: 3;

$color1: #9b59b6;
$color2: #3498db;
$color3: #e67e22;
$color4: #e74c3c;
//mixins

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin socialicon($icon, $bgcolor, $fontcolor) {
	.icon-#{$icon} {
		color: #00E;
		&:before {
			@include transition(all, .5s, ease);
			border-radius: 150px;
			font-weight: lighter;
		}
		&:hover:before{

			background-color: $bgcolor;
			color: $fontcolor;
		}
	}
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	overflow: hidden;
	background-color: $color1;
}

.wide { 
	width: 9000px;
} 

.panel {
	padding-top: 50px;
	float: left; 
	display: none;
} 

#home {
		background-color: $color1;
		text-align: center;
		.name {
			font-size: 4em;
		}

		#hi {
			display: none;
		}
		h2 {
			font-size: 2em;
		}
		.move-choice {
			color: white;
			border-radius: 99px;
			@include transition(all, .2s, ease);
		}
		.move-choice:hover {
			text-shadow: .1em .1em green;
			padding: 10px;
			border-radius: 0px;
		}
}
#about {		
	background-color: $color2;
}

#projects {
	background-color: $color3;
}

#contact {
	background-color: $color4;
}

#chosen {
	color: white;
	border-radius: 15px;
	border: 1px solid black;
	box-sizing: border-box;
	padding: 3px 5px;
	@include transition(border-radius, .3s, ease);
	@include transition(border, .3s, ease);
	@include transition(color, .3s, ease);

}

#unchosen {
	padding: 4px 6px;	
}
#horizontal, #vertical, .choice {
	cursor: pointer;
}

.current {
	text-shadow: .1em .1em black;
}

ul { 
	position: fixed;
	text-align: center;
	padding: 0;
	a {
		font-weight: 600;
		text-decoration: none;
		font-size: 1.4em;
	}
	&#scrolling-direction {
		z-index: 1000;
		font-weight: bold;
		@media screen and (max-width: 782px) {
			display: none;
		}
	}
	&#scrolling-direction li{
		display: inline-block;
		margin-left: 4px;
		cursor: pointer;
	}
	&#contact-info {
		margin-top: 0px;
		margin-bottom: 0px;
		width: 100%;
		top: 0;
		li {
			display: inline;
			margin-left: 10px;
			a {
				color: black;
				font-size: 45px;
				margin: 0;
				&[href^="mailto:"] {
					color: black;
				}

				&:visited {
					color: inherit;
				}
			}

			&:first-child {
				margin-left: 0px;
			}
		}
	}
	&#banner {
		bottom: 0;
		width: 100%; 
		margin-bottom: 0;
		li {
			height: 100%;
			float: left;
			width: 25%;
			display: inline;
			padding: 0;
			&:nth-child(1) {
				background-color: $color1;
			}
			&:nth-child(2) {
				background-color: $color2;
			}
			&:nth-child(3) {
				background-color: $color3;
			}
			&:nth-child(4) {
				background-color: $color4;
			}
			a {
				padding-bottom: 25px;
				display: block;
				color: white;
				&:focus {
					outline: 0;
				}
			}
		}
	}
} 



/* rondo font files */
@font-face {
	font-family: 'rondo';
	src: url('../fonts/rondo/rondo.eot?#') format('eot'),
		url('../fonts/rondo/rondo.svg#rondo') format('svg'),
		url('../fonts/rondo/rondo.woff') format('woff'),
		url('../fonts/rondo/rondo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'rondo';
	font-style: normal;
	speak: none;
	/* Enable Ligatures */
	-webkit-font-feature-settings:"liga","dlig";-moz-font-feature-settings:"liga=1, dlig=1";-moz-font-feature-settings:"liga","dlig";-ms-font-feature-settings:"liga","dlig";-o-font-feature-settings:"liga","dlig";
	font-feature-settings:"liga","dlig";
	text-rendering:optimizeLegibility;
	}

/* Icons */

.icon-youtube:before {
	content: "\79\6f\75\74\75\62\65";
}
.icon-yahoo:before {
	content: "\79\61\68\6f\6f";
}
.icon-xing:before {
	content: "\78\69\6e\67";
}
.icon-wordpress:before {
	content: "\77\6f\72\64\70\72\65\73\73";
}
.icon-windows:before {
	content: "\77\69\6e\64\6f\77\73";
}
.icon-vimeo:before {
	content: "\76\69\6d\65\6f";
}
.icon-twitter:before {
	content: "\74\77\69\74\74\65\72";
}

.icon-tumblr:before {
	content: "\74\75\6d\62\6c\72";
}
.icon-stumbleupon:before {
	content: "\73\74\75\6d\62\6c\65\75\70\6f\6e";
}
.icon-stackoverflow:before {
	content: "\73\74\61\63\6b\6f\76\65\72\66\6c\6f\77";
}
.icon-soundcloud:before {
	content: "\73\6f\75\6e\64\63\6c\6f\75\64";
}
.icon-skype:before {
	content: "\73\6b\79\70\65";
}
.icon-sharethis:before {
	content: "\73\68\61\72\65\74\68\69\73";
}
.icon-rss:before {
	content: "\72\73\73";
}
.icon-reddit:before {
	content: "\72\65\64\64\69\74";
}
.icon-posterious:before {
	content: "\70\6f\73\74\65\72\69\6f\75\73";
}
.icon-pinterest:before {
	content: "\70\69\6e\74\65\72\65\73\74";
}
.icon-picasa:before {
	content: "\70\69\63\61\73\61";
}
.icon-myspace:before {
	content: "\6d\79\73\70\61\63\65";
}
.icon-linkedin:before {
	content: "\6c\69\6e\6b\65\64\69\6e";
}
.icon-lastfm:before {
	content: "\6c\61\73\74\66\6d";
}
.icon-instagram:before {
	content: "\69\6e\73\74\61\67\72\61\6d";
}
.icon-googleplus:before {
	content: "\67\6f\6f\67\6c\65\70\6c\75\73";
}
.icon-github:before {
	content: "\67\69\74\68\75\62";
}
.icon-forrst:before {
	content: "\66\6f\72\72\73\74";
}
.icon-flickr:before {
	content: "\66\6c\69\63\6b\72";
}
.icon-facebook:before {
	content: "\66\61\63\65\62\6f\6f\6b";
}
.icon-email:before {
	content: "\65\6d\61\69\6c";
}
.icon-dribbble:before {
	content: "\64\72\69\62\62\62\6c\65";
}
.icon-deviantart:before {
	content: "\64\65\76\69\61\6e\74\61\72\74";
}
.icon-delicious:before {
	content: "\64\65\6c\69\63\69\6f\75\73";
}
.icon-creattica:before {
	content: "\63\72\65\61\74\74\69\63\61";
}
.icon-coroflot:before {
	content: "\63\6f\72\6f\66\6c\6f\74";
}
.icon-cargo:before {
	content: "\63\61\72\67\6f";
}
.icon-blogger:before {
	content: "\62\6c\6f\67\67\65\72";
}
.icon-behance:before {
	content: "\62\65\68\61\6e\63\65";
}
.icon-apple:before {
	content: "\61\70\70\6c\65";
}
.icon-android:before {
	content: "\61\6e\64\72\6f\69\64";
}
.icon-amazon:before {
	content: "\61\6d\61\7a\6f\6e";
}
.icon-px:before {
	content: "\66\69\76\65\68\75\6e\64\72\65\64";
}

@include socialicon(twitter, #55ACEE, #f5f8fa);
@include socialicon(facebook, #4c66a4, white);
@include socialicon(github, #171515, #f3f3f3);
@include socialicon(linkedin, #0e76a8, white);
@include socialicon(email, #dd1812, white);

/* EOF */

