body {
  font-family: sans-serif;
  overflow: hidden;
  background-color: #3498db; }

.wide {
  width: 9000px; }

.panel {
  float: left;
  display: none; }

#home {
  background-color: #3498db; }

#about {
  background-color: #9b59b6; }

#projects {
  background-color: #e67e22; }

#contact {
  background-color: #e74c3c; }

ul#banner {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin-bottom: 0; }
  ul#banner li {
    height: 100%;
    float: left;
    width: 25%;
    display: inline; }
    ul#banner li:nth-child(1) {
      background-color: #3498db; }
    ul#banner li:nth-child(2) {
      background-color: #9b59b6; }
    ul#banner li:nth-child(3) {
      background-color: #e67e22; }
    ul#banner li a {
      padding-bottom: 25px;
      display: block;
      color: white;
      text-decoration: none; }
